* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/dust_scratches.png);
  font-size: 1em;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 200px 1fr;
}

#header {
  min-height: 100px;
  width: 100%;
  margin-bottom: 50px;
}

#searchArea {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
  text-align: center;
  background-color: #27e;
}

#searchArea::after {
  content: "";
  height: 100%;
  width: 1%;
  vertical-align: middle;
  display: inline-block;
}

form {
  display: inline-block;
}

#buttonGroup {
  float: right;
  height: 100%;
  width: 80%;
  padding: 25px;
  background-color: #c7e;
  text-align: center;
}

button {
  font-size: inherit;
}

#submit {
  font-size: inherit;
  width: 100%;
  padding: 10px;
}

#searchBar {
  width: 100%;
  font-size: 24px;
}

#gifArea {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.gif {
  margin: 10px;
}

.gif p {
  margin: 1em;
}

.gif img {
  width: 300px;
}

@media only screen and (max-width: 980px) {
  .container {
    width: 760px;
    grid-template-rows: 100px 100px 1fr;
  }
  #searchArea {
    grid-row: 1 / 2;
    width: 100%;
  }
  #buttonGroup {
    grid-row: 2 / 3;
    width: 100%;
  }
  #gifArea {
    grid-row: 3/4;
    width: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 768px) {
    .container {
      width: 640px;
    }
  }
  @media only screen and (max-width: 640px) {
    .container {
      width: 540px;
      grid-template-rows: 100px 200px 1fr;
    }
    #buttonGroup {
      height: 200px;
    }
    #gifArea {
      grid-template-rows: repeat(12, 1fr);
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 540px) {
    .container {
      width: 300px;
      grid-template-rows: 100px 300px 1fr;
    }
    #buttonGroup {
      height: 300px;
    }
    #gifArea {
      grid-template-rows: repeat(12, 1fr);
      grid-template-columns: 1fr;
    }
  }
