* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/dust_scratches.png);
}

.container {
  width: 960px;
  margin: 0 auto;
  /* float: left; */
}

#header {
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}

#searchArea {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
  /* border: solid black 1px; */
}

#searchArea::before {
  content: "";
  height: 100%;
  width: 1%;
  vertical-align: middle;
  display: inline-block;
}

form {
  display: inline-block;
}

#buttonGroup {
  float: right;
  height: 100%;
  width: 80%;
  padding: 25px;
  background-color: #ccc
}

button {
  
}
